<div class="main">
  <h1 class="title">Employees</h1>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees$ | async">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.contactNumber }}</td>
        <td class="edit">
          <button class="edit-button" (click)="editEmployee(employee)">
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
