<div>
  <div class="header">
    <h2 class="heading">Add a new Device</h2>
    <mat-icon class="close" (click)="close()">close</mat-icon>
  </div>
  <form [formGroup]="addEmployeeForm" (ngSubmit)="add()">
    <section class="form-fields">
      <div>
        <div>
          <mat-form-field appearance="fill">
            <input
              matInput
              placeholder="Type"
              autofocus
              autocomplete="one-time-code"
              formControlName="type"
            />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="fill">
            <input
              matInput
              placeholder="Description"
              autofocus
              autocomplete="one-time-code"
              formControlName="description"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <input
              matInput
              placeholder="Enter your Emp Id"
              autofocus
              autocomplete="one-time-code"
              formControlName="empId"
            />
          </mat-form-field>
        </div>
      </div>
    </section>

    <div class="btn">
      <button class="add">Add</button>
    </div>
  </form>
</div>
